@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

    /*----CORES----*/
    --base-table: #21618C;
    --card-turn: var(--base-table);
    --princip-elements: var(--base-table);
    --select-card: #F79539;
    --pares: var(--select-card);
    --action-elements: var(--select-card);

    --border-lines: #999999;
    --area-sec: #F2F2F2;

    /*----TIPOGRAFIA----*/
    --font-type: "Open Sans", sans-serif;
    --size-font: 16px 18px;
}

body{
    background-color: var(--area-sec);
    font-family: var(--font-type);
}

#jogo{
    background-color: var(--base-table);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
}

.linha{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.carta{
    width: 100px;
    height: 150px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carta:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.336);
}

.carta.virada {
    transform: rotateY(180deg); /* Girar a carta para revelar o verso */
}

.carta.par {
    background-color: #F79539; /* Cor para pares encontrados */
    border: 3px solid #21618C; /* Borda mais escura para pares */
}

.frente, .verso {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    backface-visibility: hidden; /* Ocultar o verso inicialmente */
}

.frente {
    background-image: url('imagem_personagem.jpg'); /* Imagem do personagem na face frontal */
    background-size: cover; /* Cobertura total da imagem */
    background-position: center; /* Posicionamento central da imagem */
}

.verso {
    background-image: url('imagem_logo_suits.png'); /* Imagem do logo da Suits no verso */
    background-size: contain; /* Manter proporção da imagem */
    background-repeat: no-repeat; /* Evitar repetição da imagem */
}

/* Placar */
#placar {
    background-color: #F2F2F2;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#placar h2 {
    color: #F79539; /* Cor do título do placar */
    margin-bottom: 10px;
}

#placar p {
    font-weight: bold; /* Negrito para números e pontuações */
}

/* Botões */
.btn {
    background-color: #F79539;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #E07A2F; /* Cor de hover para o botão */
}

/* Ícones */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #F795